<h1>My tasks</h1>


<%@tasks.each do |task|  %>

  <h3>
    <%= link_to task_path(task) do %>
      <%= raw task.completed ? "<i class='fas fa-check-circle'></i>" : "<i class='far fa-circle'></i>" %>
      <%= task.title%>
    <% end %>
  </h3>

<%end%>

<%= link_to "Create New Task", tasks_new_path  %>

